section {
    background-color: rgba(23, 20, 46, .6);
    min-height: 50vh;
    margin: 3rem 0 2rem 0;
    border-top: 2px solid rgb(79, 18, 234);
    border-bottom: 2px solid rgb(79, 18, 234);
    border-radius: 1.5rem;
    padding: 1.5em;
    display: grid;
    place-items: center;
    gap: 2.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.15rem;
}